.sectionComoTrabajamos {
  display: flex;
  width: 90%;
  margin: 0 6%;
  justify-content: center;
  align-items: center;
}

.sectionComoTrabajamos p {
  font-size: 2.5vh;
  text-align: justify;
}

.sectionComoTrabajamos img {
  border-radius: 20%;
  padding: 2em;
  width: 100%;
  max-width: 300px;
}

.mejoresCaracteristicas {
  border-radius: 20px;
  height: 30em;
  margin: 0 6%;
  background-color: #d2f1de;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  margin-bottom: 1em;
}

.sectionCaracteristicas {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionCaracteristicas button {
  width: 400px;

  background-color: #69d191;
  font-family: "poppins", sans-serif;
  font-size: x-large;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 2em;
}

.sectionCaracteristicas button:hover {
  transform: scale(1.1);
}
